body {
    background-image: url("../IMAGENES/papel-pintado-palmeras-gris.jpg");
    max-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #02152b;
    height: 75px;
    display: flex;
    justify-content: space-between;
    color: white;
}

nav a {
    text-decoration: none;
    color: blanchedalmond;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    font-weight: bold;
}

nav a:hover {
    background-color: grey;
}

nav img {
    padding-left: 100px;
}

ul {
    list-style: none;
    display: flex;
    margin: 30px 50px 0 0;
}

section {
    margin: 0;
}

.section-div {
    text-align: center;
}

section ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-transform: uppercase;
}

section a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

section a:hover {
    background-color: grey;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5%;
}

.grid-container-left {
    height: auto;
    width: 400px;
    background-color: white;
    text-align: justify;
    font-size: small;
    font-weight: bold;
    opacity: 0.8;
}

.grid-container-right {
    height: auto;
    width: 400px;
    background-color: white;
    text-align: justify;
    font-size: small;
    font-weight: bold;
    opacity: 0.8;
}

.boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    font-size: 25px;
    color: white;
    background-color: #b4a200;
  }

  .boton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .boton_1:hover{
    color: #9b0e0e;
    background-color: grey;
    text-decoration: none;
    cursor: pointer;
  }